<!DOCTYPE html>
<html>
  <head>
    <title>Innovative Graph Suite: Pie Chart</title>
    <script type="text/javascript" src="https://raw.github.com/mbostock/d3/master/d3.js"></script>
    <style type="text/css">
      body {
        font: 10px sans-serif;
      }
    </style>
  </head>
  <body>

  <%= @render %>
  
  </body>
</html>